@import url('http://fonts.cdnfonts.com/css/sofia-pro');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Pro', sans-serif !important;
}
.container{
    width: 75%;
    margin: 0 auto;
}

$darkblue:#020917;
$primary:#081730;
$lightblue:#232a4e;
$red:#f3071d;
$pink:#e600ff;

body{
    background-color: $primary;
    color: #fafafa;
}

.dark-bg{
   
    border-radius: 0 0 10vh 10vh;
}

.darkbg,.dark-bg{
    width: 100%;
    background-color: $darkblue;
}
h1{

    font-weight: bold;
    font-size: 4rem;
}
h2{
    font-weight: bold;
    font-size: 2rem;
}
h3{font-weight: 600;
    font-size: 1.5rem;
}
h4{
    font-size: 24px !important;
    width: 100%;
    text-align: center;
    span{
        font-weight: 300 !important;
        opacity: .7;
    }
}
p{
    font-weight: lighter;
    font-size: 16px;
    line-height: 150%;
}
#hero{
    width: 100%;
    min-height: 85vh;
    border-radius: 0 0 12vh 12vh;
    background-color: $primary;
}
.navbar{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links a{
margin: 0 1em;  
color: #fff;
text-decoration: none;
font-weight: 300;
text-transform: capitalize;      
    }
    .border{
        padding: 12px 20px;
         background-color: transparent;
         border: 2px solid $lightblue;
         color: #fff;
         margin: 0 1em;
         border-radius: 10px;
     }
     .filled{
         background-color: $lightblue;
         border: none;
         color: #fff;
         padding: 12px 20px;
         border-radius: 10px;
     }
}

.hero-content{
width: 100%;
display: grid;
grid-template-columns: 7fr 5fr;
grid-auto-rows:80vh;
&::before{
    content: '';
    position: absolute;
    width: 50vw;
    right: 0;
    height: 50vh;
transform: translateY(20%);
background-size: cover;
background-repeat: no-repeat;
z-index: 1;
background-position: center;
background-image: url('./assets/Equalizer\ Back-graphics.svg');
}
span{
    font-weight: 300;
    opacity: .7;
}
p{
    width: 80%;
    opacity: .7;
    margin: 1.5rem 0;
}
.mini-text{
    font-size: 13px;
    font-weight: 300;
    opacity: 1;
    margin-top: 3rem;
}
.badge{
    width: 120px;
    margin-right: 1em;
    margin-top: 1em;
}
.hero{
    width: 70%;
    position: relative;
    z-index: 2;
    transform: translateY(7%);
}
.col{
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
  
}
}


#features{
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh 0;


    #wave{
        width: 100%;
        text-align: center;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
    .grid{
        width: 100%;
        margin-top: 20vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 40vh;
       .g-col{
           padding: 5px;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
        border: 1px solid $darkblue;
       }
       p{
           opacity: .5;
           width: 100%;
           text-align: center;
         
       }
       a{
        margin: 1em auto;
           text-align: center;
           color: $pink;
font-weight: 300;
width: 100%;
        }
       h4{
           width: 80%;
           font-weight: 400 !important;
           margin: 1rem auto;
       }
      
       .img-wrapper{
           width: 75px;
           margin: 0 auto;
           border-radius: 12px;
           height: 75px;
           background-color: $primary;
           text-align: center;
           display: flex;
           justify-content: center;
           align-items: center;
           img{
               width: 36px ;
           }
       }
       
    }
}

.feature-2{
    width: 100%;
    min-height: 100vh;
    background-color: $primary;
    border-radius: 0 0 12vh 12vh;

    .f-grid{
    &::before{
        width: 50vw;
        min-height: 50vh;
        content: '';
        position: absolute;
        background-image: url('./assets/Equalizer\ Back-graphics.svg');
        z-index: 1;
        left: 0;
        transform: translateY(50%);
        background-size: cover;
        background-position: right;
    }
    
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: 100vh;
    }
    .col{
        position: relative;
        z-index: 999;
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .c-wrapper
    {
        width: 75%;
    }
    .i-block{
        width: 100%;
        display: grid;
        grid-template-columns: 11fr 1fr;
    }
    p{
        width: 100%;
        margin: 1em auto;
        opacity: .8;
    }
    .m-card{
        width: 100%;
        border-radius: 12px;
        padding: 20px;
        min-height: 10vh;
        margin-top: 1rem;
        background-color: $lightblue;
        .row{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
        }
        .mini{
            font-size: 14px;
        }
        .skip{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
      
            .grd{
                background: -webkit-linear-gradient($pink, $red);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            i{

                font-size: 28px;
            }
        }
        .wave{
            width: 100%;
            object-fit: contain;
            margin:.2em 0;
        }
        .mini-2{
            font-size: 12px;
            font-weight: lighter;
        }
        img{
            margin-right: 10px;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    h4{
        width: 100%;
        text-align: left;
    }
    .wave{
        width: 100%;
        text-align: left;
        margin: 1em auto;
    }
    input{
        width: 95%;
        padding:10px 20px;
        background-color: $darkblue;
border: none;
border-radius: 8px;
&::placeholder{
    color: #ccc;
    font-weight: 300;
}
}
    button{
        background: rgb(230,0,255);
        background: linear-gradient(187deg, rgba(230,0,255,1) 0%, rgba(243,7,29,1) 100%); 
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.2rem;
        
    }
    .f-img{
        max-width: 60%;


    }
}

.d-wrapper{
   padding: 10vh 0;
   .half{
    width:50%;margin:1em auto !important;
    @media screen and (max-width:600px) {
        width: 100%;
    }
   }
    p{

        width: 100%;
        text-align: center;
    }
    .img-wrapper{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        img{
            width: 120px;
            margin: 0 1em;
        }
    }
}
// tablet and small

.show-on-small{
    display: none;
}

footer{
    width: 100%;
    min-height: 40vh;
   
    .bottom{
        width: 100%;
      
margin-top: 5vh;
        border-top: .5px solid rgba(204, 204, 204, 0.466);
       .container{
        display: flex;
        justify-content: space-between;
        align-items:center;
        min-height: 10vh;
       }
    span{
        font-weight: 12px;
        font-weight: 200;
    }
    }
    .links{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vh auto;
        a{
            color: white;
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
        }
    }
    p{
        width: 50%;
        margin: 1em auto;
        text-align: center;
    }
    .social{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        button{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            font-size: 1.2rem;
            margin: 1em;
        }
    }

}
@media screen and (max-width:900px) {
    .show-on-small{
        display: block;
    }
    .g-col{
        max-width: 300px;
        margin:0 auto;
        padding: 20px !important;
    }
    .block-on-small{
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        grid-auto-rows: auto !important;
    }
    .container{
        width: 85% !important;
    }
    .hero-content {
        p{
            width: 100%;
        }
        .badge{
            margin-right: 0em;
        }
    }
    #features {
        .grid{
            margin-top: 5vh !important;
        }
      
    }

    .feature-2{
        .col{
            padding: 5vh 0 !important ;
        }
      .c-wrapper{
          width: 100% !important;
      }
        .i-block{
            grid-template-columns: 10fr 2fr !important;
        }
    }
    .hide-on-small{
        display: none;
    }
    h1
    {
        font-size: 2.2rem;
    }
    .hero-content::before{
        display: none;
    }
    footer {
        p{
            width: 100% !important;
        }
        .social{
            flex-wrap: wrap;

            button{
                flex-shrink: 1;
                margin:   0.5rem !important;
            }
        }
        .bottom .container{
            flex-direction: column;
            *{
                padding: 10px 0;
            }

        }
        .links{
        flex-direction: column !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        a{
            margin: 0.5em auto;
        }
    }}
}

// only tablet
@media screen and (max-width:1020px) and (min-width:600px) {
    
}


// only mobile
@media screen and (max-width:600px) {
 
}